.App {
  display: flex;
}

.main {
  max-width: 960px;
  width: 66.666666%;
}

.wrapper {
  max-width: 680px;
  margin: 40px 140px;
}

.task {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 78px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  margin-bottom: 43px;
}

.JokeChoiceSection {
  margin-bottom: 40px;
}

.jokeCardsSection {
  margin-bottom: 20px;
}

.alignCenter {
  text-align: center;
}

@media (max-width: 1199px) {
  .wrapper {
    margin: 60px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    margin: 20px;
  }
}