.App {
  display: flex;
  position: relative;
}

.main {
  max-width: 960px;
  width: 66.666666%;
}

.wrapper {
  max-width: 680px;
  margin: 40px 140px;
}

.favourite {
  display: none;
}

.favourite span {
  width: 28px;
  height: 28px;
  background: #333333;
  border-radius: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favourite h3 {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
}

.task {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 78px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  margin-bottom: 43px;
}

.JokeChoiceSection {
  margin-bottom: 40px;
}

.jokeCardsSection {
  margin-bottom: 20px;
}

.alignCenter {
  text-align: center;
}

@media (max-width: 1199px) {
  .wrapper {
    margin: 60px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    margin: 20px 40px;
  }
}

@media (max-width: 834px) {
  .wrapper {
    margin: 40px;
    max-width: 754px;
  }

  .favourite {
    display: flex;
    align-items: center;
    z-index: 52;
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .main {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .wrapper {
    margin: 20px;
    max-width: 380px;
  }
  .favourite {
    top: 20px;
    right: 20px;
  }
}